<app-header></app-header>
<p class="green"><span>Ranking / {{typeReport}}</span>
<button>Select Race</button></p>
<table>
    <tr class="tableHead">
        <th>&nbsp;&nbsp;&nbsp;</th>
        <th>Rank</th>
        <th>Name</th>
        <th>Team</th>
    </tr>
    <tr *ngFor="let item of driversList">
        <td></td>
        <td>{{item.gRanking}}</td>
        <td>{{item.name}}</td>
        <td>{{item.team}}  </td>
    </tr>
    <p>Muestra</p>
    <ul *ngFor= "let item of allRaces" >
        <li >{{item}}</li>
        <li >{{item}}</li>
    </ul>

    
</table>
<div class="mainScreen">
    <router-outlet></router-outlet>
</div>

