.tableRace {
    margin-left: 220px;
    margin-right: 200px;
    margin-top: 10px;
    

}


th:nth-child(1){
    width: 100px;
}
th:nth-child(2){
    width: 200px;
}
th:nth-child(3){
    width: 150px;
}
tr {
    height: 30px;
}

.centered {
    width:fit-content;
    margin: auto;
}
tr.data:hover{
    background-color: rgb(228, 250, 207);
    color:rgb(175, 150, 9);
}
.selection{
    height: 30px;
    font-size:16px;
    
}